*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    text-transform:uppercase; 
    font-family:sans-serif;  
    font-size:1.5rem;;
}

.page
{
    height:100vh;
    display:grid;
    grid-template-columns:repeat(10,1fr);
    grid-template-rows:auto;
    gap:0.3%;
}

header
{
    grid-column:span 10;
    background-color: #41c4ac;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: all .2s;
}
    

header:hover
{
    background-color: lightgray;
    color: gray;
}

nav
{
    grid-column:span 10;
    background-color: #94b7a0;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav:hover
{
    background-color: lightgray;
    color: gray;
}

section
{
    grid-column:1/8;
    background-color: #9a86ba;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:hover
{
    background-color: lightgray;
    color: gray;
}

aside
{
    grid-column:8/11;
    background-color: rgb(166, 9, 166);
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside:hover
{
    background-color: lightgray;
    color: gray;
}

.box1
{
    grid-column:1/3;
    background-color: #A0B2A6;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1:hover
{
    background-color: lightgray;
    color: gray;
}

.box2
{
    grid-column:3/5;
    background-color: #360568;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2:hover
{
    background-color: lightgray;
    color: gray;
}


.box3
{
    grid-column:5/7;
    background-color: #586BA4;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3:hover
{
    background-color: lightgray;
    color: gray;
}

.box4
{
    grid-column:7/9;
    background-color: #87A878;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.box4:hover
{
    background-color: lightgray;
    color: gray;
}

.box5
{
    grid-column:9/11;
    background-color: teal;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5:hover
{
    background-color: lightgray;
    color: gray;
}

footer
{
    grid-column:span 10;
    background-color: #5c4654;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer:hover
{
    background-color: lightgray;
    color: gray;
}